<!--

THIS FILE HAS ABOUT 3,300 WORDS TO TRANSLATE

TRANSLATION NOTES:

When translating this thing, only edit the stuff that's BETWEEN the <tags>, like so:

    <p id="still_english">hello</p>
    =>
    <p id="still_english">bonjour</p>

Also, DON'T change anything between the [square brackets], like so:

    Number #[N]
    =>
    Numero #[N]

Exception to the "don't change tags" rule:
Feel free to move around the italics & bold tags, so that the emphasis
on the right phrases/words still makes sense!

    <i>italics</i>
    <b>bold</b>

Also, some HTML weirdness you might want to know:

    &amp; is an ampersand "&" sign
    &#8226; is a dot
    &rarr; is a rightward-facing arrow
    &lt; is a "<" sign

ALSO! I'd love for you to credit yourself as a translator!
You can add your own name in the <p id="subtitle"> section

Thanks again!
~ Nicky Case

-->

<!-- - - - - - - - - - - - - - - - - -->
<!-- - - - - - META STUFF - - - - - - -->
<!-- - - - - - - - - - - - - - - - - -->

<p id="meta_title">
Վստահութեան էւոլիւցիան
</p>
<p id="meta_desc">
խաղերի տեսութեան ինտերակտիւ ուղեցոյց․ ինչու եւ ինչպէս ենք վստահում միմեանց
</p>
<p id="meta_loading">
բեռնում է...
</p>
<p id="meta_on">
ON
</p>
<p id="meta_off">
OFF
</p>


<!-- - - - - - - - - - - - - - - - - -->
<!-- - - - - - TITLE! - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - -->

<p id="title">
<span style="font-size:0.75em">վստահութեան</span><br>
<br>
<span style="font-size:0.75em">էւոլիւցիան</span>
</p>
<p id="subtitle">

խաղաժամանակը՝ 30 րոպէ &#8226; հեղինակ՝ nicky case, յուլիս 2017

<!-- TRANSLATION NOTE: UNCOMMENT THE FOLLOWING & ADD YOUR OWN NAME! -->
<br>
translated by kamee
&#8226;
<a href="http://ncase.me/trust/">original English version</a>

</p>

<p id="loading">
բեռնում է...
</p>
<p id="loading_done">
խաղալ &rarr;
</p>

<!-- - - - - - - - - - - - - - - - - -->
<!-- - - - - - INTRO! - - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - -->
<p id="intro">
առաջին համաշխարհային պատերազմն ընդհատուեց խաղաղութեամբ։
<br><br>

արեւմտեան ճակատում 1914թուականի սուրբ ծնունդն էր։<br>
չնայած չհանդարտուելու խիստ հրամաններին՝ բրիտանացի<br>
եւ գերմանացի զինուորները լքեցին իրենց խրամատները, հատեցին Ոչ Մեկի Հողը<br>
եւ հաւաքուեցին՝ հողին յանձնելու մահացածներին, նուէրներ փոխանակելու եւ խաղալու համար
<br><br>

միեւնոյն ժամանակ․ 2017֊ն է, արեւմուտքը խաղաղութեան մէջ է տասնամեակներով, եւ<br>
վաու, մենք <i>մսխել</i> ենք վստահութիւնը. հետազօտութիւնները ցոյց են տալիս, որ վերջին քառասուն տարուայ մէջ
քիչ եւ քիչ մարդիկ են խոստովանում, որ վստահում են միմեանց։ ահա հանելուկը․
<br><br>

<b>ինչու են խաղաղ ժամանակ ընկերները դառնում թշնամիներ<br>
եւ ինչու են պատերազմի ժամանակ թշնամիները դառնում ընկերներ</b>
<br><br>

կարծում եմ<b>խաղերի տեսութիւնը</b> կօգնի մեզ բացայայտել անվստահութեան համաճարակը ―<br>
եւ թէ ինչպէս կարող ենք ուղղել այն։ ուստի, այս ամէնը հասկանալու համար․․․
</p>
<p id="intro_button">
․․․ արի խաղ խաղանք։ &rarr;
</p>

<!-- - - - - - - - - - - - - - - - - -->
<!-- - - - - - ONE OFF! - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - -->

<p id="label_you_cooperate">
համա<br>գործակցում ես
</p>

<p id="label_you_cheat">
խարդա<br>խում ես
</p>

<p id="label_they_cooperate">
համա<br>գործակցում են
</p>

<p id="label_they_cheat">
խարդա<br>խում են
</p>

<p id="label_you">
դու<br>↙
</p>
<p id="label_them">
միւս խաղացողը<br>↘
</p>

<p id="oneoff_0_top">

<b>ՎՍՏԱՀՈՒԹԵԱՆ ԽԱՂԸ</b>
<br>
ունես մի ընտրութիւն։
քո առաջ մեքենայ է․ եթէ դու գցես մետաղադրամ այդ մեքենայի մէջ,
<i>միւս խաղացողը</i> կը ստանայ երեք մետաղադրամ եւ հակառակը։
երկուսդ էլ կարող էք ընտրել՝ ՀԱՄԱԳՈՐԾԱԿՑԵԼ(գցել մետաղադրամը), կամ ԽԱՐԴԱԽԵԼ(չգցել մետաղադրամը)։
</p>

<p id="oneoff_0_btm">
<b>պատկերացնենք, միւս խաղացողը խարդախում է, եւ չի գցում մետաղադրամը։</b><br>
ի՞նչ պէտք է անես։
</p>

<p id="oneoff_1_cheated">
եւ իսկապէ՜ս։ ինչո՞ւ թողնես, որ այդ մակաբոյծը վզիդ նստի։
</p>

<p id="oneoff_1_cooperated">
էհ, միւս այտդ դարձնելով ապտակ ես ուտելու։
</p>

<p id="oneoff_1_top">
եթէ համագործակցում ես, իսկ նրանք խաբում՝ դու կորցնում ես մետաղադրամը, իսկ նրանք ստանում երեքը։ (հաշիւը՝ -1 vs +3)
բայց, եթէ երկուսդ էլ խարդախէք՝ դուք ոչ կը շահէք, ոչ էլ կը կորցնէք։ (հաշիւը՝ 0 vs 0)
<b>հետեւաբար․ դու պարտաւորես ԽԱՐԴԱԽԵԼ</b>
</p>

<p id="oneoff_1_btm">
<b>բայց, պատկերացնենք նաեւ, որ միւս խաղացողը համագործակցում է, եւ գցում մետաղադրամը։</b><br>
իսկ ի՞նչ պէտք է անես հիմա։
</p>

<p id="oneoff_2_cheated">
Վաու, դա նշանակում է․․․․ եւ ճի՛շտ պատասխանն է։
</p>

<p id="oneoff_2_cooperated">
իհարկէ, դա ճիշտ քայլն է թուում․․․<b>ԲԱՅՑ, ՄԻ՞ԹԷ</b>
</p>

<p id="oneoff_2_top">
որովհետեւ, եթէ երկուսդ էլ համագործակցէք, դուք երկուսդ էլ կը զիջէք մետաղադրամ եւ կը շահէք երեքը։ (հաշիւը՝ +2 vs +2)
մինչդեռ, եթէ խարդախես, իսկ նա համագործակցի՝ դու կը ստանաս երեքը, իսկ նա կը կորցնի մեկը։ (հաշիւը՝ +3 vs -1)
<b>հետեւաբար․ դու կրկին «պիտի» ԽԱՐԴԱԽԵՍ </b>
</p>

<p id="oneoff_2_btm">
եւ, <i>սա է</i> մեր երկընտրանքը։
վստահութիւնը հրաշալի է, բայց այն կարող է ուրիշներին քեզ օգտագործելու հնարաւորութիւն տալ կամ, կրակել քեզ, երբ դու խրամատ ես մտնում՝ առանց զինուելու։
երբեմն, կասկածը բանական <i>է</i>։
բայց, ինչ կը լինի, եթէ խաղը խաղանք․․․
</p>

<p id="oneoff_button_next">
․․․մեկ անգամից շա՞տ &rarr;
</p>

<!-- - - - - - - - - - - - - - - - - -->
<!-- - - - - - ITERATED - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - -->

<p id="iterated_intro_top">
<b>արի իրական խաղ խաղանք։</b>
դու կը խաղաս 5 տարբեր հակառակորդների հետ, որոնցից իւրաքանչիւրն ունի իր «մարտավարութիւնը»։
իւրաքանչիւր հակառակորդի հետ դու կը խաղաս 3-ից 7 փուլեր։
(նախապէս չես իմանալու, թէ երբ է վերջին փուլը)
կարո՞ղ ես վստահել նրանց։ կամ․․․կարո՞ղ են նրանք վստահել <i>քեզ</i>
</p>

<p id="iterated_intro_btm">
կատարիր առաջին <i>իրական</i> քայլդ։ <b>իմաստուն եղիր։</b>
</p>

<p id="iterated_info_1">
հակառակորդ՝ [Y]֊ից [X]
</p>
</p>
<p id="iterated_info_2">
քո ընդհանուր հաշիւն է՝
</p>

<p id="iterated_score_start">
եւ, քո ընդհանուր հաշիւն է․․․
</p>
<p id="iterated_score_1">
որը, վաու, իրականում, <i>չափազանց</i> վատ է։
</p>
<p id="iterated_score_2">
որը, ահ, կարող է էլ աւելի վատը լինել։
</p>
<p id="iterated_score_3">
որը վատ չէ։
</p>
<p id="iterated_score_4">
ինչը հրաշալի է։
</p>
<p id="iterated_score_5">
ինչը <i>կատարեա՜լ է</i>։ շնորհաւորանքներս, դու դեռ շատ ժամանակ ունես քո ձեռքերում։
</p>
<p id="iterated_score_x">
․․․գաղափար չունեմ, թէ ինչպէս սա արեցիր։
</p>
<p id="iterated_score_end">
(հնարաւոր ցածր եւ բարձր հաշիւներն են 7 եւ 49՝ համապատասխանաբար)
</p>

<p id="who_were">
այսպիսով, ո՞վքեր էին այս անծանօթ կերպարները, որոնց դէմ դու հէնց նոր խաղում էիր։
</p>

<p id="character_tft">
<b>ԹԽՈՂ․</b>
ողջո՜յն։ ես սկսում եմ խաղը համագործակցելով, իսկ յետոյ, ես պարզապէս կրկնօրինակում եմ այն, ինչ դու արել ես վերջին փուլում։ մեաու։
</p>

<p id="character_all_d">
<b>ՄԻՇՏ ԽԱՐԴԱԽՈՂ․</b>
<i>ուժեղը թոյլին պիտի ուտի</i>
</p>

<p id="character_all_c">
<b>ՄԻՇՏ ՀԱՄԱԳՈՐԾԱԿՑՈՂ</b>
արի լաւ ընկերներ դառնանք &lt;3
</p>

<p id="character_grudge">
<b>ՔԻՆԱԽՆԴԻՐ․</b>
լսիր, ընկեր։ ես կը սկսեմ համագործակցելով, եւ կը շարունակեմ համագործակցել,
բայց եթէ մի անգամ նոյնիսկ խաբես ինձ, ԵՍ ՄԻՆՉԵՒ ԷՍ ԱՆԷԾՔԻ ԱՒԱՐՏԸ ՔՈ ԽԱԲԷՈՒԹԻՒՆԸ ՔԵԶ ԿԸ ՎԵՐԱԴԱՐՁՆԵՄ։
</p>

<p id="character_prober">
<b>ԽՈՒԶԱՐԿՈՒ․</b>
սկզբում՝ ես ուսումնասիրում եմ քեզ։ ես սկսում եմ՝ համագործակցել, խարդախել, համագործակցել, համագործակցել։
եթէ դու ի պատասխան խարդախես՝ ես կը վարուեմ այնպէս, ինչպէս <span class="tft">թխողը</span>։
եթէ դու երբեք չխարդախես, ես կը վարուեմ <span class="all_d">միշտ խարդախողի</span>, քեզ շահագործելու համար։
տարրական բան, իմ սիրելի ուաթսոն։
</p>

<p id="characters_teaser">
հիմա, իսկ ինչ եթէ այս հերոսները․․․
</p>
<p id="characters_button">
․․․խաղան միմեանց դէմ &rarr;
</p>


<!-- - - - - - - - - - - - - - - - - -->
<!-- - - - - TOURNAMENT! - - - - - - -->
<!-- - - - - - - - - - - - - - - - - -->

<p id="place_your_bets">
մրցախաղի սկիզբն է։
իւրաքանչիւր հերոս այժմ կը խաղայ միւս բոլոր հերոսների դէմ։
լինելու է 10 մարտ՝ զոյգերով, եւ 10 շրջափուլ՝ իւրաքանչիւր մարտի համար։ 
<br><br>
ըստ քեզ, ո՞վ կը վաստակի ամենաբարձր <i>վերջնական</i> միաւորը։
<b>լաւ մտածիր այդ մասին, ապա․․․
ԿԱՏԱՐԻՐ ԽԱՂԱԴՐՈՅՔ․</b>
</p>

<p id="tournament_intro">
պարզ է, դու խաղադրոյք կատարեցիր [CHAR]ի վրայ։
արի անցնենք մարտերի վրայով՝ մեկ առ մեկ, եւ տեսնենք, թէ ինչպէս է ընթանում այն․․․
</p>

<p id="first_match">
առաջին մարտ &rarr;
</p>

<p id="next_match">
երկրորդ մարտ &rarr;
</p>

<p id="match_header_1">
<b>մարտ #[N]․</b> [A] vs [B]
</p>
<p id="match_header_2">
<b>փուլեր՝</b>
</p>
<p id="match_header_3">
<b>ընդհանուր միաւորներ․</b> [A] vs [B]
</p>

<p id="tournament_1">
ոհ, ի դէպ․․․
</p>
<p id="tournament_2">
․․․հնարաւոր է, որ կասկածում ես սուրբ ծննդի խրամատների հրադադարի պատմութեանը։
եւ իրօք, դա երջանիկ պատահականութի՞ւն էր։
</p>
<p id="tournament_3">
այո, հրադադարի պատմութիւնը դրամատիկ էր, բայց <i>այն ոչ եզակի էր, ոչ արտառոց։</i>
</p>
<p id="tournament_4">
ոչ <i>բոլոր</i> խրամատներն էին միացել խաղաղութեանը, բայց այն համատարած էր։
առաջնագծերն այդ գաղափարին հասան միմեանցից անկախ, եւ կրկին՝ <i>չնայած</i> յստակ, խիստ հրամաններին։
</p>
<p id="tournament_5">
եւ, փաստացի, նոյնիսկ սուրբ ծննդից <i>առաջ</i>՝ որոշ առաջնագծեր </i>արդէն</i>
հաստատել էին ոչ֊պաշտօնական, գաղտնի խաղաղութիւն։
</p>
<p id="tournament_6">
նրանք դա կոչում էին՝ <b>«ապրիր եւ թող միւսներին ապրել»։</b>
պարզապէս, եթէ ինձ չկրակես՝ ես էլ քեզ չեմ կրակի։ եւ սա աշխատում էր՝ շատ ու շատ տեղերում։
</p>
<p id="tournament_7">
դու կրկին կարող ես կասկածել։ շատ զինուորներ տարերայնօրէն չէին հաստատի խաղաղութիւն թշնամու հետ։
ինչն է յատուկ <i>խրամատներին</i>՝ պատերազմի ժամանակ։
</p>
<p id="tournament_8">
լաւ, ահա թէ ինչն է յատուկ խրամատներին՝
ի տարբերութիւն պատերազմի միւս տեսակների,
այստեղ դու դէմ առ դէմ կանգնած ես <i>միեւնոյն զինուորների</i> հետ՝ ամէն օր։
</p>
<p id="tournament_9">
<b>սա կրկնուող խաղ է։</b> եւ դա է <i>ամբողջովին</i> փոխում ընթացքը։
</p>
<p id="tournament_10">
ինչեւէ։ այսպիսով, յաղթողն է․․․
</p>

<p id="the_winner_is">
(թմբուկներ, խնդրում եմ․․․) &rarr;
</p>

<p id="tournament_winner_1">
<b class="tft">ԹԽՈՂԸ</b>
</p>
<p id="tournament_winner_2_yay">
շնորհաւորանքներս, դու խաղադրոյքդ ճիշտ ձիու վրայ էիր դրել։
</p>
<p id="tournament_winner_2_nay">
(ցաւում եմ, բայց դու ընտրել էիր [CHAR]ին)։
</p>
<p id="tournament_winner_3">
<span class="tft">թխողը</span> յայտնի է տարբեր անուններով։
ոսկէ կանոն, փոխադարձ ալտրուիզմ, ակն ընդ ական, կամ․․․<b>ապրիր, եւ թող միւսներին ապրել։</b>
ահա թէ ինչպէս «խաղաղութիւն» կարող էր հաստատուել առաջին համաշխարհային պատերազմի խրամատներում․
երբ դու պարտադրուած ես խաղալ նոյն խաղը
<i>նոյն մարդկանց</i> հետ(խօսքն ընդհանուր «թշնամու» մասին չէ)՝ կրկին եւ կրկին՝
<span class="tft">թխողը</span> յաղթում է ոչ միայն ճակատամարտը, այլ նաեւ պատերազմը։
<br><br>
բայց, եթէ վիճակը փոխուում է, երբ դու խաղում ես մի քանի փուլ՝ նոյն խաղից, իսկ ինչ եթէ․․․
</p>
<p id="tournament_teaser">
․․․խաղա՞ս մի քանի <i>մրցախաղ</i> &rarr;
</p>


<!-- - - - - - - - - - - - - - - - - -->
<!-- - - - - EVOLUTION! - - - - - - -->
<!-- - - - - - - - - - - - - - - - - -->

<p id="evolution_intro">
հիմա, արի մեր խաղացողներին <i>ժամանակի ընթացքում շատացնենք։</i> սա երեք քայլանի պար է՝
</p>
<p id="evolution_intro_1">
<b>1. ԽԱՂԱԼ ՄՐՑԱԽԱՂԸ</b><br>
թող նրանք բոլորն իրար դէմ խաղան եւ հաշուեն միաւորները։
</p>
<p id="evolution_intro_2">
<b>2. ՀԵՌԱՑՆԵԼ ՊԱՐՏՈՒՈՂՆԵՐԻՆ</b><br>
արի հեռացնենք 5 ամենավատ խաղացողներին(եթէ հաւասար միաւորներ կան, ապա պատահականօրէն կընտրուի նրանցից մեկը)։
</p>
<p id="evolution_intro_3">
<b>3. ՎԵՐԱՐՏԱԴՐԵԼ ՅԱՂԹՈՂՆԵՐԻՆ</b><br>
կլոնաւորել 5 լաւագոյն խաղացողներին(եթէ հաւասար միաւորներ կան, ապա պատահականօրէն կընտրուի նրանցից մեկը)։
</p>
<p id="evolution_intro_footer">
․․․եւ ԿՐԿՆԻՐ՝ այնքան, որքան ցանկանաս։
նշում՝ կարիք չունես սպասելու, որ մարդիկ տառացիօրէն մահանան, վերարտադրուեն՝ մշակոյթի զարգացման համար ֊֊
քեզ պէտք է միայն, որ «անյաջող» վարքագծերը հեռանան, իսկ «յաջողակները»՝ ընդօրինակուեն։
իսկ այժմ․․․
</p>
<p id="evolution_intro_button">
․․․արի սա տեսնենք գործողութեան մէջ։ &rarr;
</p>

<p id="evo_1">
պատկերացնենք, որ սկսում ենք հետեւեալ խաղացողների բազմութեամբ՝
<span class="all_c">15 միշտ համագործակցող</span>,
<span class="all_d">5 5 միշտ խաբող</span>, եւ
<span class="tft">5 թխող</span>.
(այս պահին կանտեսենք <span class="grudge">քինախնդրին</span> եւ <span class="prober">խուզարկուին</span>)
<br><br>
մենք պատրաստուում ենք պարել մրցախաղ֊ոչնչացում֊վերարտադրում պարը մի քանի եւ աւել անգամներ։
կատարիր միւս խաղադրոյքը։ ըստ քեզ, ո՞վ կը յաղթի <i>առաջին</i> մրցախաղում։
<b>ԿԱՏԱՐԻՐ ԽԱՂԱԴՐՈՅՔԴ ԿՐԿԻՆ՝</b>
</p>

<p id="evo_2_all_c">
տրամաբանական է, <span class="all_c">միշտ համագործակցողն</span> այժմ գերազանցում է բոլորին․․․
</p>
<p id="evo_2_all_d">
տրամաբանական է, <span class="all_d">միշտ խարդախողը</span> շատ <span class="all_c">միշտ համագործակցողների</span> դէռ պիտի շահագործի․․․
</p>
<p id="evo_2_tft">
տրամաբանական է, վերջին անգամ <span class="tft">թխողը </span> յաղթեց մրցախաղը, ինչո՞ւ ոչ կրկին․․․
</p>
<p id="evo_2">
տեսնենք, թէ արդեօք դու ճիշտ ես՝
</p>

<p id="label_play_tournament">
1) սկսել մրցախաղը
</p>
<p id="label_eliminate_bottom_5">
2) ոչնչացնել վերջին 5֊ին
</p>
<p id="label_reproduce_top_5">
3) վերարտադրել առաջին 5-ին
</p>

<p id="evo_3_all_c">
աւաղ, <span class="all_c">միշտ համագործակցողը</span> կերակուր դարձաւ
<span class="all_d">միշտ խարդախողի</span>, համար, որի քանակն աճեց 5-ով։
</p>
<p id="evo_3_all_d">
ցաւօք դու ճիշտ էիր։ <span class="all_d">միշտ խարդախողներն</span> յաղթեցին այս անգամ,
եւ նրանց թիւն աճեց 5-ով։
</p>
<p id="evo_3_tft">
աւաղ, <span class="tft">թխողը</span> չյաղթեց այս անգամ, բայց նրա վիճակն այնքան վատ չէ,
որքան <span class="all_c">միշտ խարդախողինը</span>։ նա կերակուր դարձաւ <span class="all_d">միշտ խարդախողին</span>,
որի թիւն աճեց 5-ով։
</p>
<p id="evo_3">
բայց արի փորձենք մի քանի շրջան էլ․․․
</p>

<p id="evo_4">
<span class="all_d">միշտ խարդախողը</span> դեռ բազմանում է,
ի հաշիւ <span class="all_c">միշտ համագործակցողի</span>...
</p>

<p id="evo_5">
իսկ այժմ, բոլոր <span class="all_c">միշտ համագործակցողները</span> մահացան։
բայց սպասիր․․․
</p>

<p id="evo_6">
այո, ճիշտ է․ <span class="all_d">միշտ խարդախողները</span> դարձան իրենց յաջողութեան զոհը։
նրանք շահագործեցին միամիտ <span class="all_c">միշտ համագործակցողներին</span>,
բայց երբ նրանք խաղից դուրս թողեցին նրանց՝ բախուեցին <span class="tft">թխողներին</span>՝
որոնք լաւն <i>են</i>, բայց միամիտ չեն։
</p>

<p id="evo_7">
պարզապէս կրկնօրինակելով միւս խաղացողի քայլերը,
<span class="tft">թխողները</span> պարզապէս հիանալի կարող են խաղալ միմեանց հետ,
մինչդեռ, <span class="all_d">միշտ խարդախողները</span> խաբում են իրենք իրենց։
ոչ միայն դա, նշանակում է նաեւ, որ <span class="tft">թխողները</span>
<span class="all_d">միշտ խարդախողներին</span> կարող են նրանց
զգացնել տալ դեղի համը։
</p>

<p id="evo_8">
եւ այսպէս, որպէս արդիւնք․․․
</p>

<p id="evo_9">
․․․<span class="tft">թխողը</span> ժառանգում է մոլորակը։
</p>
<p id="evo_9_all_c">
այսպիսով, չնայած դու ընտրել էիր-հիանալի, բայց միամիտ <span class="all_c">միշտ համագործակցողին</span>,
որը կործանուեց հէնց սկզբից` վերջում գերակշռող եղաւ սիրալիրութեան <i>խելացի</i> ձեւը,
եւ <span class="all_d">միշտ խարդախողները</span> տրորուեցին։
</p>
<p id="evo_9_all_d">
այսպիսով, կարճաժամկէտ հեռանկարում դու ճիշտ էիր՝ <span class="all_d">միշտ խարդախողը</span> յաղթեց առաջին մի քանի փուլերում,
բայց, ի վերջոյ, նրա շահագործող բնոյթը կործանեց հէնց իրեն։
</p>
<p id="evo_9_tft">
այսպիսով, երկարաժամկէտ հեռանկարում դու ճիշտ էիր՝ <span class="tft">թխողը</span> յաղթեց։
<span class="all_d">միշտ խարդախողը</span> կարող է ունենալ կարճաժամկէտ յաջողութիւններ,
բայց նրա շահագործող բնոյթը կործանեց նրան։
</p>
<p id="evo_9_end">
սա ինձ մի միտք յիշեցրեց․
<br><br>
<i>«մենք պատժուում ենք մեր մեղքերից, այլ ոչ նրանց համար»։</i><br>
― Ալբերտ Հուբբարդ
</p>
<p id="evo_9_btn">
(ոհ, ի միջիայլոց․․․)
</p>

<p id="evo_10">
(․․․արդիւնքը նոյնն է նոյնիսկ եթէ վերադարձնենք 
<span class="grudge">քինախնդրին</span> եւ <span class="prober">խուզարկողին</span>.)
</p>

<p id="evo_autoplay">
սկսել էւոլիւցիոն գործընթացը
</p>
<p id="evo_autoplay_stop">
կանգնեցնել էւոլիւցիոն գործընթացը
</p>

<p id="evo_10_followup">
(նշում․ երբեմն, մի քանի <span class="grudge">քինախնդիրներ</span> կարող են մնալ խաղում,  
որովհետեւ երբ բոլոր խաղացողները, բացի <span class="grudge">քինախնդրից</span> ու <span class="tft">թխողից</span>
վերանան, նրանք երկուսն էլ կը կապուեն։)
<br><br>
այսպիսով, կարծես խաղերի տեսութեան մաթեմատիկան մեզ ասում է,
որ <span class="tft">թխողի</span> փիլիսոփայութիւնը
«ուրիշի հետ վարուիր այնպէս, ինչպէս կը ցանկանաս որ քեզ հետ վարուեն» միտքը ոչ թէ զուտ
<i>բարոյական</i>, այլ նաեւ <i>մաթեմատիկական</i> ճշմարտութիւն է։
այնուամենայնիւ․․․
</p>
<p id="evo_10_btn">
․․․այստեղ էլ խնդիր կայ․ &rarr;
</p>

<p id="evo_11">
շուրջդ նայիր։ աշխարհը լիքն է պիղծ մարդկանցով։
<br><br>
եթէ <span class="tft">թխողի</span> մարտավարութիւնն այս վստահութեան կրկնուող խաղում այդքան ուժեղ է՝
որ նոյնիսկ առաջին համաշխարհային պատերազմի խրամատներում զինուորներն անկախ իրենցից «վերցրին» այդ մարտավարութիւնը, կոչելով «ապրիր եւ թոյլ տուր ապրել»՝
ինչո՞ւ են ուրեմն այսքան շատ անվստահելու, անարժան մարդիկ մեր շուրջբոլորը։
ո՞րն է մեր անվստահութեան համաճարակի պատճառը։
<br><br>
բանալին հէնց այդ նախադասութեան մէջ է։ «վստահութեան <i>այս</i> կրկնուող խաղի մէջ»։
մինչ այս պահը մենք խօսում էինք միայն փոփոխուող խաղացողների մասին․
իսկ ի՞նչ կասես <i>փոփոխուող խաղի մասին</i>։
ո՞ւր կը տանի․․․
</p>
<p id="evo_11_btn">
․․․<i>անվստահութեան</i> էւոլիւցիան
</p>

<!-- - - - - - - - - - - - - - - - - -->
<!-- - - - - - DISTRUST - - - - - - -->
<!-- - - - - - - - - - - - - - - - - -->

<p id="distrust_1">
մինչեւ ամէն ինչի վատանալը, արի մի այլ լաւ բան էլ փորձենք։
ահա, աշխարհ որն ամբողջապէս լցուած է <span class="all_c">միայն համագործակցողներով</span>,
բացառութեամբ մեկ <span class="all_d">միշտ խարդախողի</span> եւ մեկ <span class="tft">թխողի</span>։
<br><br>
օգտագործիր աջ կողմի կոճակները՝ <b>ՍԿՍԵԼՈՒ</b> համար,
անցիր խաղը <b>քայլ առ քայլ</b>, կամ <b>վերադասաւորիր</b> այն։ &rarr;
</p>

<p id="distrust_2">
ինչպէս արդէն գիտես, <span class="tft">թխողը</span> վարպետօրէն յաղթում է երկարատեւ մրցավազքում՝
ըստ մեր ներկայիս կանօնների։
<br><br>
բայց, ըստ մեր <i>այժմեան</i> կանօնների, ըստ որոնց
խաղացողները միմեանց դէմ են ելնում <i>10</i> փուլ՝ իւրաքանչիւր մարտից։
կը յաղթի <span class="tft">թխողը</span>, եթէ լինի եօ՞թ փուլ։ իսկ հի՞նգ։ երե՞ք։ երկո՞ւ։ մե՞կ։
<br><br>
<b>փուլերի քանակը կարող ես փոխել</b> ներքեւի սլայդերով,
ապա <b>ՍԿՍԻՐ</b> խաղը եւ տես, թէ ինչ է կատարուում։
ազատ եղիր փորձարկելու։
</p>

<p id="distrust_2_end">
երբ աւարտես խաղը, կտցրու՝
</p>

<p id="distrust_3">
ինչպէս տեսար, եթէ դու չխաղաս բաւարար փուլեր, (այստեղ՝ 5 կամ պակաս)
<span class="all_d">միշտ խարդախողը</span> կը գերակշռի։
<br><br>
1985֊ին, երբ մարդկանց հարցնում էին, թէ քանի մօտ ընկեր ունեն,
հիմնական պատասխանը «երեք»֊ն էր։ 2004-ին, հիմնական պատասխանն էր՝ <i>«զրօն»</i>։
մենք այժմ դասակարգային, ռասայական, տնտեսական եւ քաղաքական գծերի միջեւ աւելի քիչ ընկերներ ունենք, 
քանի որ ունենք աւելի քիչ ընկերային <i>շրջանակ</i>։
եւ ինչպէս ինքդ տեսար,
<b>որքան քիչ «կրկնուող փոխազդեցութիւններ» կան․, այնքան աւելի շատ է տարածուում անվստահութիւնը։</b>
<br><br>
(ոչ, զանգուածային լրատուամիջոցները հաշուի մէջ չեն՝
it must be <i>two-way</i> interactions between <i>specific individuals</i>.)
այն պէտք է լինի <i>երկկողմանի</i> փոխազդեցութիւն՝ <i>յատուկ անհատների միջեւ</i>)։
</p>
<p id="distrust_3_btn">
եւ, ոհ, վիճակը վատանում է․․․ &rarr;
</p>

<p id="distrust_4">
կայ նաեւ <i>այլ</i> ձեւ անվստահութիւն սերմանելու։
ահա վստահութեան խաղի «վճարները»․
</p>
<p id="distrust_4_2">
նորմալ հաշուումների ժամանակ <span class="tft">թխողը</span> յաղթում է։
այժմ փոխենք <b>«երկուսն էլ համագործակցում են»֊ի պարգեւը +2֊ից +1</b>,
ապա սեղմենք <b>ՍԿՍԵԼ</b>։
չնայած, այժմ էլ, +1֊ը շարունակում է մնալ <i>աւելի</i>, քան երկուսի խարդախութեան պատիժն է(0)․․․
ի՞նչ է պատահելու։
</p>
<p id="distrust_4_note">
ազատ զգայ խաղալ տարբեր վերջնարդիւնքներով։
աւարտես, սեղմիր․
</p>
<p id="distrust_4_note_2">
(սիմուլեացիա․ 10 փուլ իւրաքանչիւր մարտից)
</p>

<p id="distrust_5">
նոյնն է պատահում՝
ցածր «յաղթող֊յաղթող» մրցանակի դէպքում, <span class="all_d">միշտ խարդախողը</span> իշխող է։
խաղերի տեսութիւնն ունի երկու ուժեղ գաղափար այս մասին․
<br><br>
<b>«ամէն ինչ֊ոչինչ խաղ»։</b> ցաւօք ընդհանուր հաւատ է, որ «մեր» շահը
<i>պէտք է</i> գայ «նրանց» կորստի հաշուին, եւ հակառակը։
<br><br>
<b>«ոչ֊ամէն ինչ֊ոչինչ խաղ»</b>։ երբ մարդիկ մեծ ջանք են գործադրում,
որպէսզի ստեղծեն յաղթող֊յաղթող լուծում (կամ, ամէնաքիչը, խուսափեն վնաս֊վնաս֊ից)։
առանց ոչ֊ամէն ինչ֊ոչինչ խաղի, <i>վստահութիւն չի կարող առաջանալ։</i>
<br><br>
դրա մասին խօսելով,
արի այժմ նայենք մեր երրորդ՝ վերջնական խոչընդոտին վստահութեան էւոլիւցիայի ճանապարհին․․․
</p>
<p id="distrust_5_btn">
<s>բոռշել</s> սխալներ &rarr;
</p>

<!-- - - - - - - - - - - - - - - - - -->
<!-- - - - - - NOISE! - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - -->

<p id="noise_1">
որքան էլ վերջը լինի <span class="tft">թխողը</span>, նա ունի մեծ, ճակատագրական թուլութիւն, որի մասին ես դեռ չեմ նշել։
խնդիրը հասկանալու համար, արի նայենք թէ ինչպէս են խաղում <span class="tft">թխողները</span> միմեանց դէմ․
</p>
<p id="noise_1_end">
լինելով «հիանալի» խաղացողներ, երկուի առաջին քայլն էլ կը լինի՝
</p>

<p id="noise_2">
եւ, սովորականում, նրանք պարզապէս վերադարձնում են մեկը միւսի բարութիւնը եւ երգում են կումբաեա մինչեւ խաղի վերջ։  
</p>
<p id="noise_2_end">
իսկ ինչ եթէ, մինչ մեկը պատրաստուում էր վերադարձնել լաւութիւնը․․․․
</p>

<p id="noise_3">
<b>ԱՀ, ՉԷ</b>
<br>
սխալներ, միմեանց չհասկանալ, սխալ մեկնաբանել՝ դէպքեր, որոնք իրական կեանքում պատահում են ամէն անգամ։
</p>
<p id="noise_3_end">
բայց, երբ միւս անձը չի <i>կարծում</i>, որ դա պատահական էր․․․
</p>

<p id="noise_4">
<b>ԱՀ, ԷԼԻ</b>
<br>
միւսը, լինելով <span class="tft">թխող</span>, պիտի վրէժ լուծի․․․
</p>
<p id="noise_4_end">
․․․իսկ դու, կրկին լինելով <span class="tft">թխող</span>, դու էլ <i>քո հերթին</i> պիտի վրէժ լուծես․․․
</p>

<p id="noise_5">
ինչպէս հաթֆիլդներ եւ մաքքոյներ,
այս երկու <span class="tft">թխողները</span> կը պտտուեն վրէժխնդրութեան անաւարտ անիւի մէջ․․․
որն սկսուեց մեկ սխալից, շատ ժամանակներ առաջ։
</p>
<p id="noise_5_end">
ողբերգութիւն։ իսկ ինչ, եթէ լինել երկու <i>այլ</i> խաղացողներ, որոնք կարողանան․․․
</p>
<p id="noise_5_btn">
․․․առերեսուե՞լ սխալների հետ։ &rarr;
</p>

<p id="noise_characters">
արի հանդիպենք նոր դէմքերին(դէ, իրականում գլխարկներին)
</p>

<p id="character_tf2t">
<b>պատճէնող փիսիկ․</b><br>
ողջոյն։ ես նման եմ <span class="tft">թխողին</span>,
բացառութեամբ նրա, որ ես խարդախում եմ, միայն երբ ինձ հետ նոյն կերպ են վարուում երկու անգամ անընդմէջ։
ի վերջոյ, առաջին անգամը կարող է սայթաքում լինել։
</p>

<p id="character_pavlov">
<b>միամիտ․</b><br>
ողջոյն ես սկսում եմ համագործակցելով
եթէ դու ի պատասխան համագործակցես, ես <i>նոյնը</i> կանեմ՝ վերջում, նոյնիսկ եթէ դա սայթաքում լինի։
եթէ դու խարդախես ի պատասխան, ես կանեմ <i>հակառակը</i>՝ վերջին քայլում, նոյնիսկ եթէ դա սայթաքում լինի։
</p>

<p id="character_random">
<b>պատահական․</b><br>
<i>ռոբոտ կապիկ։ նինջա պիցցա տակօ։ լօլ ես լրիւ պատահական եմ</i><br>
(ուղղակի պատահականօրէն մեկ համագործակցում եմ, մեկ խարդախում։ 50/50 է)
</p>

<p id="noise_characters_end">
լաւ, արի նայենք թէ էս ժողովուրդն ինչ կանի, եթէ․․․
</p>
<p id="noise_characters_btn">
․․․խաղայ մրցախաղում &rarr;
</p>

<p id="noise_evo_1">
շատից սկսենք
<span class="all_c">միշտ համագործակցողներն</span>
ընդդէմ մեր հին, արդար յաղթողի՝ <span class="tft">թխողի</span>,
եւ մեր երեք նոր հերոսները․
ներողը՝ <span class="tf2t">թխող փիսիկը</span>,
բթամիտ <span class="pavlov">միամիտը</span>, եւ
անկապ<span class="random">պատահականը</span>։ 
<br><br>
մարտի իւրաքանչիւր փուլում խաղացողներն ունեն փոքր շանս սխալուելու(ասենք, 5%)։
ըստ քեզ ո՞վ կը յաղթի։
<b>երկար մտածիր, ապա կատարիր խաղադրոյքդ․</b>
</p>

<p id="noise_evo_2">
ըհն, քո ընտրել ես, որ [CHAR]֊ը կը յաղթի։ տեսնենք֊տեսնենք։
օգտագործիր ձախի կոճակները <b>ՍԿՍԵԼՈՒ</b> համար խաղն՝ արագ կերպով,
կամ անցիր դրա վրայով <b>քայլ առ քայլ<b>։
</p>
<p id="noise_evo_2_2_correct">
դու ճիշտ էիր՝
</p>
<p id="noise_evo_2_2_incorrect">
ընտրեալդ մօտիկ էր շատ, մազ էր մնացել՝
</p>
<p id="noise_evo_2_2">
<span class="pavlov">միամիտը</span> յաղթում է
սա զուտ նրա համար, որ <span class="pavlov">միամիտն</span> իրականում ունակ է
շահագործել <span class="all_c">միշտ համագործակցողին</span>։ երկուսն էլ սկսում են համագործակցելով,
բայց եթէ <span class="pavlov">միամիտը</span> սխալուի եւ խարդախի,
<span class="all_c">միշտ համագործակցողը</span> երբեք վրէժ չի լուծի,
<i>դրա պատճառով էլ նրան անընդհատ կը խաբեն։</i>
</p>
<p id="noise_evo_2_2_btn">
հիմա, փորձենք․․․
</p>

<p id="noise_evo_3">
․․․նոյն բանն ինչ֊որ առաջ, միայն, ի տարբերութիւն կէս֊<span class="all_c">միշտ համագործակցողի</span>,
կը լինի կէս֊<span class="all_d">միշտ խարդախող</span>։ սա աւելի <i>պակաս</i> ներողամիտ,
<i>շատ</i> թշնամական  միջավայր է։
<br><br>
ըստ քեզ, հիմա ո՞վ կը յաղթի։ <b>մտածիր, ապա կատարիր խաղադրոյք․</b>
</p>

<p id="noise_evo_4">
[CHAR]-ի վրայ դրեցիր։ կրկին, անցնենք սիմուլեացիայի վրայով․․․
</p>
<p id="noise_evo_4_2_correct">
ճիշտ վարուեցիր գումարիդ հետ՝
</p>
<p id="noise_evo_4_2_incorrect">
լաւ ընտրութիւն էր, բայց մեկ ուրիշը տարաւ մրցանակը՝
</p>
<p id="noise_evo_4_2">
<span class="tf2t">թխող փիսիկն</span> այս անգամ յաղթեց։
զարմանալի է, նոյնիսկ այդքան <i>պակաս</i> սկզբնական բնակչութեամբ,
<span class="tf2t">թխող փիսիկը,</span>
<i>աւելի ներողամիտ</i> տարբերակը <span class="tft">թխողի</span>,
եղաւ ամենայաջողակը։(նշում․ <span class="tf2t">թխող փիսիկը</span> շատ ներողամիտ է
նա նոյնիսկ <i>ամբողջութեամբ</i> չի սրբում սենեակը <span class="tft">թխողից</span>։ նա կիսում է սենեակը)
<br><br>
այս պարագայում, մի փոքր «թիւրըմբռնումը»(5% սխալուելու հաւանականութիւն իւրաքանչիւր փուլում) կարող է տանել դէպի
<i>ներողամտութեան</i>։ բայց, մի՞թէ սա ճիշտ է <i>բոլոր</i> մակարդակներում․․․
</p>
<p id="noise_evo_4_2_btn">
․․․թիւրըմբռնման։
</p>

<p id="noise_evo_5">
<b>օգտագործիր ներքեւի սլայդերը «թիւրըմբռնման» չափը փոփոխելու համար, ապա սեղմիր ՍԿՍԵԼ։</b>
5%֊ի դէպքում <span class="tf2t">թխող փիսիկը</span> յաղթում է։
ի՞նչ տեղի կունենայ 0%֊ի դէպքում։ իսկ քսա՞ն, իսկ յիսո՞ւն (առաւելագոյնն այն հասնում է 50%֊ին
քանի որ այդ պարագայում, <i>ամէն</i> քայլ մետաղադրամային վիճակագրութեան պէս է)
</p>
<p id="noise_evo_5_continue">
խաղալն աւարտես, սեղմիր՝
</p>

<p id="noise_evo_6">
արդիւնքը կը լինի նման մի բան՝<br>
<b>0%֊ի</b> դէպքում արդար <span class="tft">թխողը</span> յաղթում է։
<b>1%֊ից 9% դէպքում</b> ներողամիտ <span class="tf2t">թխող փիսիկը</span> յաղթում է։
<b>10֊ից 49% դէպքերում</b> անարդար, աններողամիտ <span class="all_d">միշտ խարդախողը</span> յաղթում է։
<b>At 50%,</b> <i>nobody wins ever.</i>
<b>50% դէպքում</b> <i>ոչ ոք երբեք չի յաղթում։</i>
<br><br>
ահա թէ ինչու է միմեանց սխալ հասկանալն այդքան հետաքրքիր խոչընդոտ վստահութեան ճանապարհին․
մի <i>փոքրը</i> ներողամտութեան տեղ է թողնում,
իսկ <i>շատը</i> տանում է դէպի անվստահութիւն։
կարծում եմ, որ ժամանակակից մեդիա տեքնոլոգիաները
որքանով որ օգնել են մեծացնել յաղորդակցութիւնը․․․
նոյնքան էլ աւելացրել են <i>թիւրըմբռնումը։</i>
<br><br>
ի վերջոյ, արի փորձենք <i>բոլոր</i> թուերով, կոճակներով եւ սլայդերներով։
արի խաղանք․․․
</p>
<p id="noise_evo_6_btn">
․․․աւազարկղի տարբերակում։
</p>


<!-- - - - - - - - - - - - - - - - - -->
<!-- - - - - - SANDBOX! - - - - - - - -->
<!-- - - - - - - - - - - - - - - - - -->

<p id="sandbox_population">
սկսիր խաղացողների հետեւեալ բաշխումով՝
</p>

<p id="sandbox_payoffs">
դէմ առ դէմ խաղի վերջնարդիւնքներն են՝
</p>
<p id="sandbox_reset_payoffs">
դնել լռելեայնը
</p>

<!--
When translating the following, keep the "[N]", with square brackets,
as a placeholder for the number. Some of these need double-translations,
one for the plural version, one for the singular version.
-->

<p id="sandbox_rules_1">
խաղալ [N] փուլ իւրաքանչիւր մարտից․
</p>
<p id="sandbox_rules_1_single">
խաղալ [N] փուլ իւրաքանչիւր մարտից․
</p>

<p id="sandbox_rules_2">
իւրաքանչիւր մրցախաղից յետոյ վերացնել վերջին [N] խաղացողներին, վերարտադրել առաջին [N] խաղացողներին․
</p>
<p id="sandbox_rules_2_single">
իւրաքանչիւր մրցախաղից յետոյ վերացնել վերջին [N] խաղացողին, վերարտադրել առաջին [N] խաղացողին․
</p>

<p id="sandbox_rules_3">
իւրաքանչիւր փուլի ընթացքում կայ խաղացողի սխալի [N]% հնարաւորութիւն․
</p>

<p id="sandbox_end">
<b>նշում․ աւազարկղի տարբերակն ամբողջապէս ընտրովի է։</b>
ազատ ես այն բաց թողնել, կամ խաղալ։ երբ աւարտես, երբ աւարտես կը վերանայենք․․․
</p>
<p id="sandbox_end_btn">
թէ ինչ սովորեցինք այսօր &rarr;
</p>



<!-- - - - - - - - - - - - - - - - - -->
<!-- - - - - CONCLUSION! - - - - - - -->
<!-- - - - - - - - - - - - - - - - - -->

<p id="conclusion_0">
ըստ խաղերի տեսութեան մենք վստահութեան էւոլիւցիայի համար կարիք ունենք երեք բանի․
</p>
<p id="conclusion_1_a">
1. կրկնուող փոխազդեցութիւններ
</p>
<p id="conclusion_1_a2">
վստահութիւնը պահպանում է յարաբերութիւնների շարունակելիութիւնը,
բայց <i>նախքան</i> վստահութեան ձեւաւորումը, ապագայ կրկնուող փոխազդեցութիւնների մասին իմանալու կարիք կունենաս։
</p>
<p id="conclusion_2_a">
2. հնարաւոր յաղթող֊յաղթող լուծում
</p>
<p id="conclusion_2_a2">
դու պէտք է խաղաս այլ բան, քան ամէն֊ինչ֊ոչինչ խաղն է,
խաղ, որտեղ ամէնաքիչը հնարաւոր է, որ <i>երկու</i> խաղացողներն էլ կարող են ինքնադրսեւորուել առաւելագոյնս՝ յաղթող֊յաղթող։
</p>
<p id="conclusion_3_a">
3. ցածր թիւրըմբռնում
</p>
<p id="conclusion_3_a2">
եթէ թիւրըմբռնման մակարդակը <i>շատ</i> բարձր է, վստահութիւնը քայքայուում է։
բայց երբ չհասկացուածութիւնը փոքր է, այն ներման <i>մեծ</i> տեղ է թողնում։
</p>
<p id="conclusion_4">
իհարկէ, իրական կեանքում վստահութիւնն աւելի շատ բաներից է ազդուում։
կայ համբավ, ընդհանուր արժէքներ, պայմանագրեր, մշակութային ազդակներ, բլա, բլա, բլա
եւ իհարկէ, չմոռանաս․․․
</p>
<p id="conclusion_btn">
․․․<i>ամենամեծ</i> դասը։ &rarr;
</p>

<p id="outro_1">
եթէ որեւէ սովորելու բան կար<br>
խաղերի տեսութիւնից, այն հետեւեալն է․
<br><br>
<b>խաղը սահմանում է խաղացողների վարքը։</b><br>
այսօրուայ մեր խնդիրն այն չէ, որ խաղացողները կորցնում են վստահութիւնը,<br>
այլ այն, որ <i>միջավայրը</i> գործում է վստահութեան էւոլիւցիայի դէմ։
<br><br>
սա կարող է թուալ ցինիկ կամ միամիտ, թէ մենք մեր միջավայրի «զուտ» արդիւնքն ենք՝ 
բայց ինչպէս խաղերի տեսութիւնն է ասում, մենք մեկս միւսի միջավայրն <i>ենք</i>։
<b>կարճաժամկէտ հեռանկարում, խաղը սահմանում է խաղացողներին։ իսկ երկարաժամկէտում
խաղացողներն են, որ սահմանում են խաղը։</b>
<br><br>
այսինքն, արա այն, ինչ կարող ես անել՝ ստեղծելու համար պայմաններ, որոնք անհրաժեշտ են վստահութեան ձեւաւորման համար։
կառուցիր յարաբերութիւններ։ ստեղծիր յաղթող֊յաղթողներ։ շփուէք պարզ։
հնարաւոր է, որ այդ դէպքում մենք դուրս կը գանք մեր խրամատներից, եւ կը դադարենք կրակել իրար,
հատենք Ոչ մի մարդու Հողը միասին․․․
</p>

<p id="outro_1_btn">
եւ սովորեցինք․․․
</p>

<p id="outro_2">
․․․ապրել եւ թոյլ տալ ապրել։
</p>

<p id="outro_2_credits">
«սուրբ ծննդեան հրադադարը հակառակորդ խրամատների»
նկարազարդումն AC Michael֊ը։
հրապարակուել է ն<i>կարազարդ լոնդոնեան նորութիւններում,<i> յունուարի 9, 1915
</p>

<p id="outro_2_btn">
&lt;3
</p>

<!-- - - - - - - - - - - - - - - - - -->
<!-- - - - - - CREDITS! - - - - - - -->
<!-- - - - - - - - - - - - - - - - - -->

<p id="credits">
<span class="credits">

հեղինակ՝<br>
<span class="big">NICKY CASE</span><br>
<a href="http://ncase.me/" target="_blank">բզբզայ միւս սարքածներովս էլ</a>
•
<a href="https://twitter.com/ncasenmare" target="_blank">հետեւիր ինձ թուիթերում</a>
<br>
<a href="https://github.com/ncase/trust/#play-it-here-httpncasemetrust" target="_blank">ներբեռնիր երաժշտութիւնը &amp; ելակօդ</a>

<span class="divider"></span>

հիմնուած է ռոբերտ էքսլրոդի 1984թ․ գրքի վրայ՝,<br>
<span class="big">"THE EVOLUTION OF COOPERATION"</span><br>
<a href="notes" target="_blank">կարդայ իմ ծանօթագրութիւններն այս խաղի մասին</a>

<span class="divider"></span>

քեզ լիքը սէր եւ շնորհակալութիւն<br>
<span class="big">ԻՄ PATREON ԱՋԱԿԻՑՆԵՐՆ ԵՆ</span><br>
<a href="peeps" target="_blank">տես իմ նկարածները նրանց համար</a>
•
<a href="https://www.patreon.com/ncase" target="_blank">վրաս կոպէկներ շպրտիր patreօն-ում &lt;3</a>
<span class="divider"></span>

յ․գ․ ուզո՞ւմ ես աւելի շատ խաղալով֊սովորիրներ<br>
տես
<a href="http://explorabl.es/" target="_blank">բացայայտուող բացատրութիւններ</a>!
</span>
</p>

<!-- - - - - - - - - - - - - - - - - -->
<!-- - - - - THE PLAYERS - - - - - - -->
<!-- - - - - - - - - - - - - - - - - -->

<p id="label_tft">թխող</p>
<p id="label_short_tft">
թխող
</p>
<p id="icon_tft">
<span class="tft">
	<span class="icon"></span>
	<span class="icon_label">թխող</span>
</span>
</p>

<p id="label_all_d">միշտ խարդախող</p>
<p id="label_short_all_d">
խաբեբայ
</p>
<p id="icon_all_d">
<span class="all_d">
	<span class="icon"></span>
	<span class="icon_label">բոլորն են խաբում</span>
</span>
</p>

<p id="label_all_c">միշտ համագործակցող</p>
<p id="label_short_all_c">
համագործակցող
</p>
<p id="icon_all_c">
<span class="all_c">
	<span class="icon"></span>
	<span class="icon_label">բոլորն են համագործակցում</span>
</span>
</p>

<p id="label_grudge">քինախնդիր</p>
<p id="label_short_grudge">
քինախնդիր
</p>
<p id="icon_grudge">
<span class="grudge">
	<span class="icon"></span>
	<span class="icon_label">քինախնդիր</span>
</span>
</p>

<p id="label_prober">խուզարկու</p>
<p id="label_short_prober">
խուզարկու
</p>
<p id="icon_prober">
<span class="prober">
	<span class="icon"></span>
	<span class="icon_label">խուզարկու</span>
</span>
</p>

<p id="label_tf2t">պատճէնող փիսիկ</p>
<p id="label_short_tf2t">
պատճէնող փիսիկ
</p>
<p id="icon_tf2t">
<span class="tf2t">
	<span class="icon"></span>
	<span class="icon_label">պատճէնող փիսիկ</span>
</span>
</p>

<p id="label_pavlov">միամիտ</p>
<p id="label_short_pavlov">
միամիտ
</p>
<p id="icon_pavlov">
<span class="pavlov">
	<span class="icon"></span>
	<span class="icon_label">միամիտ</span>
</span>
</p>

<p id="label_random">պատահական</p>
<p id="label_short_random">
պատահական
</p>
<p id="icon_random">
<span class="random">
	<span class="icon"></span>
	<span class="icon_label">պատահական</span>
</span>
</p>

<p id="forgot_whos_who">
(մոռացե՞լ ես, թէ ով ով էր։ )
</p>
<p id="who_tft">
սկսում է համագործակցելով։ ապա, ուղղակի կրկնում է այն, ինչ դու արել ես նախորդ փուլում։
</p>
<p id="who_all_d">
միշտ խարդախում է։
</p>
<p id="who_all_c">
միշտ համագործակցում է։
</p>
<p id="who_grudge">
սկսում է համագործակցելով, եւ շարունակում է համագործակցել, քանի դեռ դու չես խարդախել՝ թէկուզ մեկ անգամ։
դրանից յետոյ, նա միշտ խարդախում է։
</p>
<p id="who_prober">
սկսում է՝ համագործակցել, խարդախել, համագործակցել, համագործակցել։
դրանից յետոյ, եթէ դու երբեւէ փոխհատուցես խարդախութեամբ՝ նա կը խաղայ ինչպէս թխողը։
հակառակ դէպքում, նա կը վարուի ինչպէս միշտ խարդախողը
</p>
<p id="who_tf2t">
սկսում է համագործակցելով։
բայց, փոխհատուցում է խարդախութեամբ, միայն եթէ դու խարդախել ես ԵՐԿՈՒ անգամ անընդմէջ։
</p>
<p id="who_pavlov">
սկսում է համագործակցելով։
ապա, եթէ դու համագործակցել ես նախորդ փուլում՝ նա կրկնում է իր նախորդ քայլը(նոյնիսկ եթէ այն պատահական էր)։
բայց, եթէ դու խարդախել ես նախորդ փուլում, նա փոխում է իր քայլը(նոյնիսկ եթէ այն պատահական էր)։
</p>
<p id="who_random">
պատահականօրէն խարդախում կամ համագործակցում է՝ 50-50
</p>


<!-- - - - - - - - - - - - - - - - - -->
<!-- - - - - SMALL LABELS! - - - - - -->
<!-- - - - - - - - - - - - - - - - - -->

<p id="label_cooperate">
համագործակցել
</p>

<p id="label_cheat">
խարդախել
</p>

<p id="label_play">
խաղալ
</p>

<p id="label_start">
ՍԿՍԵԼ
</p>

<p id="label_stop">
ԿԱՆԳՆԵՑՆԵԼ
</p>

<p id="label_step">
քայլ
</p>

<p id="label_reset">
վերականգնել
</p>

<p id="label_population">
բնակչութիւն
</p>

<p id="label_payoffs">
արդիւնքներ
</p>

<p id="label_rules">
կանոններ
</p>

<p id="label_next">
յաջորդը &rarr;
</p>

<p id="label_continue">
շարունակել
</p>


<!-- - - - - - - - - - - - - - - - - -->
<!-- - - - NAVIGATING CHAPTERS - - - -->
<!-- - - - - - - - - - - - - - - - - -->

<p id="chapter_intro">
0. ներածութիւն
</p>
<p id="chapter_oneoff">
1. առաջին խաղ
</p>
<p id="chapter_iterated">
2. կրկնուող խաղ
</p>
<p id="chapter_tournament">
3. առաջին մրցախաղ
</p>
<p id="chapter_evolution">
4. կրկնուած մրցախաղ
</p>
<p id="chapter_distrust">
5. անվստահութեան էւոլիւցիան
</p>
<p id="chapter_noise">
6. սխալներ թոյլ տալ
</p>
<p id="chapter_sandbox">
7. աւազարկղ
</p>
<p id="chapter_conclusion">
8. եզրակացութիւն
</p>
<p id="chapter_credits">
9. երախտիք
</p>
